* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 65%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.brochure {
  position: fixed;
  background-color: #ce325f;
  padding: 1.5em 2.25em;
  border-radius: 5px;
  top: 50%;
  left: -50vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
  -webkit-transition: background-color 250ms, left 750ms;
  transition: background-color 250ms, left 750ms;
  z-index: 900;
}

.brochure:hover {
  background-color: #ba2c55;
}

.brochure .h6 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 4px;
}

.scroll-top {
  position: fixed;
  bottom: -50vh;
  right: 100px;
  background-color: #393e79;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: background-color 250ms, bottom 750ms;
  transition: background-color 250ms, bottom 750ms;
  z-index: 900;
}

.scroll-top:hover {
  background-color: #42478b;
}

.scroll-top .chevron {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: auto;
}

.video-popup1 {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  z-index: 1000;
  left: -100vw;
  -webkit-transition: left 500ms, opacity 500ms;
  transition: left 500ms, opacity 500ms;
  opacity: 0;
}

.video-popup1.show {
  left: 0;
  opacity: 1;
}

.video-popup1 iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-popup1 .close1 {
  color: #fff;
  font-weight: 900;
  font-size: 2em;
  font-family: "Montserrat";
  cursor: pointer;
  position: absolute;
  right: 100px;
  top: 50px;
}

.video-popup2 {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  z-index: 1000;
  left: -100vw;
  -webkit-transition: left 500ms, opacity 500ms;
  transition: left 500ms, opacity 500ms;
  opacity: 0;
}

.video-popup2.show {
  left: 0;
  opacity: 1;
}

.video-popup2 iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-popup2 .close2 {
  color: #fff;
  font-weight: 900;
  font-size: 2em;
  font-family: "Montserrat";
  cursor: pointer;
  position: absolute;
  right: 100px;
  top: 50px;
}

.hero {
  background-image: url("img/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100vw;
  height: 105vh;
  overflow: hidden;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2e3261;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.nav-items .logo {
  width: auto;
  height: 15px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.nav-items .logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav-items a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.5em;
  margin: 0 0.5em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  position: relative;
  letter-spacing: 1px;
  cursor: pointer;
}

.nav-items a::after {
  position: absolute;
  content: "";
  background-image: linear-gradient(174deg, #f9643d, #fe2a77);
  height: 3px;
  width: 0%;
  bottom: 0;
  opacity: 0;
}

.nav-items a:hover::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  opacity: 1;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.nav .register-btn {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(174deg, #f9643d, #fe2a77);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3em;
  margin: 0 1em 0 10em;
  height: 100%;
}

.centered-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centered-content .h1 {
  font-weight: 900;
  font-size: 7em;
  line-height: 1;
  width: 550px;
  position: relative;
  margin-bottom: 0.5em;
  font-family: "Raleway", sans-serif;
}

.centered-content .h1::after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  left: 50%;
  bottom: -10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.centered-content .h2 {
  font-weight: 300;
  font-family: serif;
  font-size: 1.7em;
  width: 450px;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.centered-content .bordered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

.centered-content .bordered-left {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.7em 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
}

.centered-content .bordered-left .hero-play-btn {
  cursor: pointer;
  width: 25px;
}

.centered-content .bordered-left .h5 {
  letter-spacing: 4px;
  margin: 0 1em;
}

.centered-content .bordered-right {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
}

.centered-content .bordered-right .h5 {
  letter-spacing: 4px;
}

.chevron-box {
  position: absolute;
  bottom: -46px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  padding: 1em 1em 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  cursor: pointer;
}

.chevron-box .chevron {
  -webkit-animation-name: chevron-animation;
          animation-name: chevron-animation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  position: relative;
}

@-webkit-keyframes chevron-animation {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 0px;
  }
  100% {
    bottom: 10px;
  }
}

@keyframes chevron-animation {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 0px;
  }
  100% {
    bottom: 10px;
  }
}

.introduction {
  background-color: #2c305e;
  padding: 7em 0;
  text-align: center;
  color: #707d8f;
}

.introduction .h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 3.5em;
  width: 600px;
  position: relative;
  line-height: 1;
  margin: 0 auto 1em;
}

.introduction .h1::before {
  content: "Introduction";
  position: absolute;
  display: block;
  top: -25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #707d8f;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.2em;
  letter-spacing: 5px;
}

.introduction .h1::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #f0326b;
  width: 100px;
  height: 5px;
  bottom: -25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
}

.introduction .p {
  display: block;
  margin: 0 auto 1em;
  font-size: 1.25em;
  width: 800px;
  letter-spacing: 1px;
  font-family: "Muli", sans-serif;
}

.introduction .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4em;
  font-family: "Muli", sans-serif;
}

.introduction .box-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 45%;
  padding: 0.5em 2em 0.5em 0;
}

.introduction .box-left .bp {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 1em;
  line-height: 1.75;
}

.introduction .box-left .bp:first-of-type::first-letter {
  color: #ce325f;
  font-size: 3em;
  float: left;
  margin-top: 13px;
}

.introduction .box-left .bp:nth-of-type(3) {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  border-left: 5px solid #ce325f;
  padding: 0.5em 0 0.5em 1.5em;
  font-size: 1.3em;
}

.introduction .box-left .signature {
  width: 250px;
  margin-top: 1em;
}

.introduction .box-right {
  width: 55%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "int1 int3" "int1 int3" "int1 int4" "int2 int4" "int2 int4";
  grid-gap: 1em;
}

.introduction .box-right div {
  border: 10px solid #fff;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.introduction .box-right .introduction-1 {
  min-height: 300px;
  max-width: 270px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: int1;
  background-image: url("img/introduction-1.jpg");
}

.introduction .box-right .introduction-2 {
  min-height: 200px;
  max-width: 270px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: int2;
  background-image: url("img/introduction-2.jpg");
}

.introduction .box-right .introduction-3 {
  min-height: 200px;
  max-width: 270px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: int3;
  background-image: url("img/introduction-3.jpg");
}

.introduction .box-right .introduction-4 {
  min-height: 300px;
  max-width: 270px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: int4;
  background-image: url("img/introduction-4.jpg");
}

.about {
  background-color: #292d53;
  padding: 7em 0;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-content .left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-content .left .h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 3.5em;
  width: 240px;
  position: relative;
  line-height: 1;
  margin-bottom: 1em;
}

.about-content .left .h1::before {
  content: "About";
  position: absolute;
  display: block;
  top: -25%;
  left: 14%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #707d8f;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.2em;
  letter-spacing: 5px;
}

.about-content .left .h1::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #f0326b;
  width: 100px;
  height: 5px;
  bottom: -25%;
  left: 22%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
}

.about-content .left .p {
  display: block;
  margin-bottom: 1em;
  font-size: 1.25em;
  width: 500px;
  letter-spacing: 1px;
  font-family: "Muli", sans-serif;
  color: #707d8f;
}

.about-content .left .visit-venue-btn {
  color: #fff;
  background-color: #ce325f;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8em;
  border-radius: 50px;
  padding: 1.5em 3em;
  cursor: pointer;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
}

.about-content .left .visit-venue-btn:hover {
  background-color: #ba2c55;
}

.about-content .right {
  width: 50%;
}

.about-content .right .about-img-box {
  width: 500px;
  height: 300px;
  position: relative;
  border-radius: 5px;
}

.about-content .right .about-img-box .bottom,
.about-content .right .about-img-box .top {
  width: 500px;
  height: 300px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 750ms;
  transition: opacity 750ms;
}

.about-content .right .about-img-box img.bottom:hover {
  opacity: 0;
}

.about-content .right .about-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.about-content .right .about-play-btn::before {
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, from(#fd326f), to(#f9633e));
  background: linear-gradient(to top, #fd326f, #f9633e);
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.icons {
  background-color: #262a4f;
}

.icons .icons-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.icons .icons-list img {
  width: auto;
  height: 50px;
  margin-right: 20px;
}

.icons .icons-list .icons-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4em 4em 3.5em 0;
}

.icons .icons-list .icons-item:first-of-type {
  border-right: 1px solid #1f2344;
}

.icons .icons-list .icons-item:nth-of-type(2) {
  border-right: 1px solid #1f2344;
  border-left: 1px solid #2b305c;
  padding-left: 4em;
}

.icons .icons-list .icons-item:last-of-type {
  border-left: 1px solid #2b305c;
  padding-left: 4em;
}

.icons .icons-list .icons-item .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icons .icons-list .icons-item .text .h4 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

.icons .icons-list .icons-item .text .p {
  color: #707d8f;
  font-family: "Muli", sans-serif;
  font-size: 1.1em;
}

.speakers {
  background-color: #2a2e55;
}

.speakers .speaker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.speakers .speaker-img-box {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.speakers .speaker-img-box::before {
  position: absolute;
  content: "";
  background-color: #272b52;
  width: 200px;
  height: 80px;
  top: 0;
  right: -11%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.speakers .speaker-img-box .img1 {
  background-image: url("img/speaker-1--red.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.speakers .speaker-img-box .x {
  position: absolute;
  font-weight: bold;
  color: #fff;
  font-size: 3em;
  right: 3%;
  cursor: pointer;
}

.speakers .speaker-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 9em 0 9em 6em;
}

.speakers .speaker-text .h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 3.5em;
  position: relative;
  line-height: 1;
  margin: 0.5em 0;
}

.speakers .speaker-text .h1::before {
  content: "Speaker";
  position: absolute;
  display: block;
  top: -50%;
  left: 0;
  color: #707d8f;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.2em;
  letter-spacing: 5px;
}

.speakers .speaker-text .h1::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #f0326b;
  width: 100px;
  height: 5px;
  bottom: -50%;
  left: 0;
  border-radius: 5px;
}

.speakers .speaker-text .p:first-of-type {
  display: block;
  color: #707d8f;
  margin: 1em 0;
  font-size: 1.25em;
  letter-spacing: 1px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

.speakers .speaker-text .p:last-of-type {
  display: block;
  color: #707d8f;
  font-family: "Muli", sans-serif;
  letter-spacing: 0.5px;
  width: 400px;
  font-size: 1.2em;
  margin-bottom: 2em;
}

.speakers .speaker-text .learn-more-btn {
  color: #fff;
  background-color: #ce325f;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8em;
  border-radius: 50px;
  padding: 1.5em 3em;
  cursor: pointer;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
}

.speakers .speaker-text .learn-more-btn:hover {
  background-color: #ba2c55;
}

.speakers .speaker2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.speakers .speaker2 .speaker-img-box .img1 {
  background-image: url("img/speaker-2--red.jpg");
}

.speakers .speaker2 .speaker-text {
  margin-left: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 9em 6em 9em 0;
  text-align: right;
}

.speakers .speaker2 .speaker-text h1::before {
  right: 0;
}

.speakers .speaker2 .speaker-text h1::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #f0326b;
  width: 100px;
  height: 5px;
  bottom: -50%;
  left: 65%;
  border-radius: 5px;
}

.speakers .speaker2 .speaker-text .learn-more-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.speakers .speaker3 .speaker-img-box .img1 {
  background-image: url("img/speaker-3--red.jpg");
}

.speakers .speaker4 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.speakers .speaker4 .speaker-img-box .img1 {
  background-image: url("img/speaker-4--red.jpg");
}

.speakers .speaker4 .speaker-text {
  margin-left: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 9em 6em 9em 0;
  text-align: right;
}

.speakers .speaker4 .speaker-text h1::before {
  right: 0;
}

.speakers .speaker4 .speaker-text h1::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #f0326b;
  width: 100px;
  height: 5px;
  bottom: -50%;
  left: 60%;
  border-radius: 5px;
}

.speakers .speaker4 .speaker-text .learn-more-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.speakers .speaker5 .speaker-img-box .img1 {
  background-image: url("img/speaker-5--red.jpg");
}

.speakers .speaker6 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.speakers .speaker6 .speaker-img-box .img1 {
  background-image: url("img/speaker-6--red.jpg");
}

.speakers .speaker6 .speaker-text {
  margin-left: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 9em 6em 9em 0;
  text-align: right;
}

.speakers .speaker6 .speaker-text h1::before {
  right: 0;
}

.speakers .speaker6 .speaker-text h1::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #f0326b;
  width: 100px;
  height: 5px;
  bottom: -50%;
  left: 60%;
  border-radius: 5px;
}

.speakers .speaker6 .speaker-text .learn-more-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.schedule {
  background-color: #2c305e;
  padding: 6em 0;
  text-align: center;
}

.schedule .container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "h1" "p" "btns";
  justify-items: center;
}

.schedule .h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 3.5em;
  position: relative;
  line-height: 1;
  margin: 1em 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h1;
}

.schedule .h1::before {
  content: "Schedule";
  position: absolute;
  display: block;
  top: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #707d8f;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.2em;
  letter-spacing: 5px;
}

.schedule .h1::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #f0326b;
  width: 100px;
  height: 5px;
  bottom: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
}

.schedule .p {
  color: #707d8f;
  font-family: "Muli", sans-serif;
  margin-bottom: 2em;
  letter-spacing: 1px;
  font-size: 1.2em;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: p;
}

.schedule .day-buttons {
  width: 100%;
  border-bottom: 3px solid #272b58;
  margin-top: 5em;
  margin-bottom: 1em;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: btns;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding: 0 5%;
}

.schedule .day-buttons .day-btn {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  padding: 1em 3em;
  border-top: 3px solid #272b58;
  border-bottom: 3px solid #2c305e;
  border-left: 3px solid #272b58;
  border-right: 3px solid #272b58;
  background-color: #2c305e;
  position: relative;
  top: 3px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.schedule .day-buttons .day-btn:nth-of-type(2) {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid #272b58;
}

.schedule .day-buttons .day-btn:last-of-type {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid #272b58;
}

.schedule .schedules {
  list-style-type: none;
  width: 80%;
}

.schedule .schedules .sched {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2a2e5a;
  margin: 1em 0;
  padding: 1.5em;
  color: #707d8f;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.schedule .schedules .sched .time {
  min-width: 180px;
  font-size: 0.9em;
}

.schedule .schedules .sched .plan {
  font-family: "Muli", sans-serif;
  letter-spacing: 0.5px;
}

.schedule .schedules .sched .plan .todo {
  margin-bottom: 10px;
}

.schedule .download-brochure-btn {
  color: #fff;
  background-color: #ce325f;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8em;
  border-radius: 5px;
  padding: 1.5em 3em;
  cursor: pointer;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
  margin-top: 5em;
}

.schedule .download-brochure-btn:hover {
  background-color: #ba2c55;
}

.features {
  background-color: #2c305e;
  padding: 5em 0;
}

.features .h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 3.5em;
  position: relative;
  line-height: 1;
  margin: 1em;
  text-align: center;
}

.features .h1::before {
  content: "Features";
  position: absolute;
  display: block;
  top: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #707d8f;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.2em;
  letter-spacing: 5px;
}

.features .h1::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #f0326b;
  width: 100px;
  height: 5px;
  bottom: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
}

.features .p {
  color: #707d8f;
  font-family: "Muli", sans-serif;
  letter-spacing: 1px;
  margin: auto;
  font-size: 1.2em;
  width: 70%;
  text-align: center;
}

.features .icon-list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  margin: 5em auto;
  width: 56%;
}

.features .icon-list .item {
  max-width: 310px;
  max-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  padding: 3em 2em;
}

.features .icon-list .item:first-of-type {
  border-bottom: 1px solid #242753;
  border-right: 1px solid #242753;
}

.features .icon-list .item:nth-of-type(2) {
  border-left: 1px solid #2f3470;
  border-bottom: 1px solid #242753;
  border-right: 1px solid #242753;
}

.features .icon-list .item:nth-of-type(3) {
  border-left: 1px solid #2f3470;
  border-bottom: 1px solid #242753;
}

.features .icon-list .item:nth-of-type(4) {
  border-top: 1px solid #2f3470;
  border-bottom: 1px solid #242753;
  border-right: 1px solid #242753;
}

.features .icon-list .item:nth-of-type(5) {
  border-top: 1px solid #2f3470;
  border-left: 1px solid #2f3470;
  border-bottom: 1px solid #242753;
  border-right: 1px solid #242753;
}

.features .icon-list .item:nth-of-type(6) {
  border-top: 1px solid #2f3470;
  border-left: 1px solid #2f3470;
  border-bottom: 1px solid #242753;
}

.features .icon-list .item:nth-of-type(7) {
  border-top: 1px solid #2f3470;
  border-right: 1px solid #242753;
}

.features .icon-list .item:nth-of-type(8) {
  border-top: 1px solid #2f3470;
  border-left: 1px solid #2f3470;
  border-right: 1px solid #242753;
}

.features .icon-list .item:nth-of-type(9) {
  border-top: 1px solid #2f3470;
  border-left: 1px solid #2f3470;
}

.features .icon-list .item .icon {
  max-width: 50px;
  min-width: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 1.5em;
  margin-top: 5px;
}

.features .icon-list .item .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features .icon-list .item .text .h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.features .icon-list .item .text .p {
  font-family: "Muli", sans-serif;
  color: #707d8f;
  letter-spacing: 0.5px;
  font-size: 1em;
  text-align: left;
  margin: 0;
  width: 100%;
}

.tickets {
  background-color: #292d57;
  padding: 5em 0;
  text-align: center;
}

.tickets .h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 3.5em;
  position: relative;
  line-height: 1;
  margin: 1em;
  text-align: center;
}

.tickets .h1::before {
  content: "Tickets";
  position: absolute;
  display: block;
  top: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #707d8f;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.2em;
  letter-spacing: 5px;
}

.tickets .h1::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #f0326b;
  width: 100px;
  height: 5px;
  bottom: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
}

.tickets .p {
  color: #707d8f;
  font-family: "Muli", sans-serif;
  letter-spacing: 1px;
  margin: auto;
  font-size: 1.2em;
  width: 70%;
  text-align: center;
}

.tickets .cards {
  margin: 5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tickets .cards .card {
  background-color: #fff;
  border-radius: 5px;
  max-width: 320px;
  min-width: 320px;
  min-height: 480px;
  margin: 0 auto;
}

.tickets .cards .card .top {
  background-image: url("img/tickets.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}

.tickets .cards .card .top .price {
  color: #fff;
  font-size: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
}

.tickets .cards .card .top .price::before {
  content: "$";
  position: absolute;
  font-weight: 100;
  font-size: 0.5em;
  top: 15%;
  left: -25%;
}

.tickets .cards .card .top .price1::after {
  content: "Bronze";
  position: absolute;
  font-size: 0.25em;
  font-style: italic;
  font-weight: 100;
  font-family: Georgia, "Times New Roman", Times, serif;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tickets .cards .card .top .price2::after {
  content: "Gold";
  position: absolute;
  font-size: 0.25em;
  font-style: italic;
  font-weight: 100;
  font-family: Georgia, "Times New Roman", Times, serif;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tickets .cards .card .top .price3::after {
  content: "Diamond";
  position: absolute;
  font-size: 0.25em;
  font-style: italic;
  font-weight: 100;
  font-family: Georgia, "Times New Roman", Times, serif;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tickets .cards .card .bottom {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.tickets .cards .card .bottom .row {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px dotted #d5dae0;
}

.tickets .cards .card .bottom p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 3em;
  font-family: "Muli", sans-serif;
  color: #707d8f;
  letter-spacing: 0.5px;
  position: relative;
}

.tickets .cards .card .bottom p::before {
  position: absolute;
  content: url("img/checkmark.png");
  top: 25%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
}

.tickets .cards .card .bottom p.ix::before {
  position: absolute;
  content: url("img/closemark.png");
  top: 25%;
  left: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
}

.tickets .register-today-btn {
  color: #fff;
  background-color: #ce325f;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8em;
  border-radius: 5px;
  padding: 1.5em 3em;
  cursor: pointer;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
}

.tickets .register-today-btn:hover {
  background-color: #ba2c55;
}

.gallery {
  background-color: #292d53;
  padding: 5em 0;
}

.gallery .h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 3.5em;
  position: relative;
  line-height: 1;
  margin: 1em;
  text-align: center;
}

.gallery .h1::before {
  content: "Tickets";
  position: absolute;
  display: block;
  top: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #707d8f;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.2em;
  letter-spacing: 5px;
}

.gallery .h1::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #f0326b;
  width: 100px;
  height: 5px;
  bottom: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
}

.gallery .p {
  color: #707d8f;
  font-family: "Muli", sans-serif;
  letter-spacing: 1px;
  margin: auto;
  font-size: 1.2em;
  width: 70%;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */