* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10%;
}

html {
  scroll-behavior: smooth;
  background-color: #2e3261;
}

body {
  line-height: 1.5;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
}

.brochure-btn {
  position: fixed;
  background-color: #ce325f;
  padding: 1.5em 2.25em;
  border-radius: 5px;
  top: 50%;
  left: -50vw;
  transform: translateY(-50%);
  transform: rotate(90deg);
  cursor: pointer;
  transition: background-color 250ms, left 750ms;
  z-index: 900;

  &:hover {
    background-color: darken(#ce325f, 5%);
  }

  h6 {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 4px;
  }
}

.brochure-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(56, 60, 104, 0.9);
  z-index: -1;
  top: -100vh;
  opacity: 0;
  transition: top 500ms, opacity 500ms, z-index 500ms;

  &.show {
    top: 0;
    opacity: 1;
    z-index: 1000;
  }

  .brochure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 750px;
    width: 630px;
    border-radius: 10px;

    .top {
      height: 28%;
      background-image: url("img/brochure.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      position: relative;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      h1 {
        color: #fff;
        font-family: "Raleway", sans-serif;
        font-weight: 900;
        font-size: 3.5em;
        position: relative;
        line-height: 1;
        top: 45%;
        left: 10%;

        &::before {
          content: "Download";
          position: absolute;
          display: block;
          top: -45%;
          left: 0;
          color: #fff;
          font-family: "Montserrat", sans-serif;
          text-transform: uppercase;
          font-size: 0.2em;
          letter-spacing: 5px;
        }
      }
      .close3 {
        position: absolute;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        right: 20px;
        top: 20px;
        cursor: pointer;
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0 auto;

      h3 {
        color: #222;
        text-align: center;
        margin: 40px auto 60px;
        font-weight: bold;
        font-size: 1.3em;
        width: 90%;
      }

      p {
        text-transform: uppercase;
        font-size: 0.8em;
        color: #707d8f;
        font-weight: bold;
        letter-spacing: 3px;
        margin-bottom: 1em;
      }

      input {
        border: 1px solid #cacaca;
        background-color: transparent;
        width: 100%;
        padding: 1em;
        margin-bottom: 2em;

        &:hover,
        &:focus {
          border-color: #f8a;
        }
      }

      .checkbox {
        width: auto;
        float: left;
        margin-right: 1em;
      }

      a {
        display: inline;
        text-decoration: none;

        p {
          text-transform: none;
          letter-spacing: 1px;
          font-size: 0.9em;
        }
      }

      .clearfix {
        clear: both;
      }

      .send-brochure-btn {
        color: #fff;
        background-color: #ce325f;
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 0.8em;
        border-radius: 5px;
        padding: 1.5em 3em;
        cursor: pointer;
        width: 100%;
        float: left;
        margin: 2em 0;
        text-align: center;
        transition: background-color 250ms;

        &:hover {
          background-color: darken(#ce325f, 5%);
        }
      }
    }
  }
}

.scroll-top-btn {
  position: fixed;
  bottom: -50vh;
  right: 100px;
  background-color: lighten(#2e3261, 7%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  cursor: pointer;
  transition: background-color 250ms, bottom 750ms;
  z-index: 900;

  &:hover {
    background-color: lighten(#2e3261, 12%);
  }

  .chevron {
    transform: rotate(180deg);
    margin: auto;
  }
}

.video-popup1 {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  z-index: -1;
  left: -100vw;
  transition: left 500ms, opacity 500ms, z-index 500ms;
  opacity: 0;

  &.show {
    left: 0;
    opacity: 1;
    z-index: 1000;
  }

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }

  .close1 {
    color: #fff;
    font-weight: 900;
    font-size: 2em;
    font-family: "Montserrat";
    cursor: pointer;
    position: absolute;
    right: 100px;
    top: 50px;
  }
}

.video-popup2 {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  z-index: -1;
  left: -100vw;
  transition: left 500ms, opacity 500ms, z-index 500ms;
  opacity: 0;

  &.show {
    left: 0;
    opacity: 1;
    z-index: 1000;
  }

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }

  .close2 {
    color: #fff;
    font-weight: 900;
    font-size: 2em;
    font-family: "Montserrat";
    cursor: pointer;
    position: absolute;
    right: 100px;
    top: 50px;
  }
}

.gallery-img-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: -1;
  left: -100vw;
  transition: left 500ms, opacity 500ms, z-index 500ms;
  opacity: 0;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.show {
    left: 0;
    opacity: 1;
    z-index: 1000;
  }

  .close4 {
    color: #fff;
    font-weight: 900;
    font-size: 2em;
    font-family: "Montserrat";
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 1000;
  }
}

// HERO
.hero {
  background-image: url("img/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100vw;
  height: 105vh;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e3261;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;

  &-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;

    .logo {
      width: auto;
      height: 15px;
      cursor: pointer;
      transition: transform 500ms;
      margin-left: 1em;

      &:hover {
        transform: scale(1.1);
      }
    }

    a {
      color: #fff;
      display: flex;
      text-decoration: none;
      height: 100%;
      align-items: center;
      padding: 0 2.5em;
      margin: 0 0.5em;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.9em;
      position: relative;
      letter-spacing: 1px;
      cursor: pointer;

      &::after {
        position: absolute;
        content: "";
        background-image: linear-gradient(174deg, #f9643d, #fe2a77);
        height: 3px;
        width: 0%;
        bottom: 0;
        opacity: 0;
      }

      &:hover::after {
        position: absolute;
        content: "";
        left: 0;
        width: 100%;
        opacity: 1;
        transition: width 500ms;
      }
    }
  }

  .register-btn {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: linear-gradient(174deg, #f9643d, #fe2a77);
    display: flex;
    align-items: center;
    padding: 0 3em;
    margin: 0 1em 0 10em;
    height: 100%;
  }

  .hamburger {
    display: none;
  }
}

.toggled-nav {
  height: 0px;

  a {
    color: #fff;
    display: flex;
    text-decoration: none;
    height: 100%;
    align-items: center;
    padding: 0 2.5em;
    margin: 0 0.5em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    position: relative;
    letter-spacing: 1px;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      background-image: linear-gradient(174deg, #f9643d, #fe2a77);
      height: 3px;
      width: 0%;
      bottom: 0;
      opacity: 0;
    }

    &:hover::after {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      opacity: 1;
      transition: width 500ms;
    }
  }
}

.register-btn {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(174deg, #f9643d, #fe2a77);
  display: flex;
  align-items: center;
  padding: 0 3em;
  margin: 0 1em 0 10em;
  height: 100%;
}

.centered-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 900;
    font-size: 7em;
    line-height: 1;
    width: 550px;
    position: relative;
    margin-bottom: 0.5em;
    font-family: "Raleway", sans-serif;

    &::after {
      position: absolute;
      content: "";
      background-color: #fff;
      width: 100px;
      height: 5px;
      border-radius: 5px;
      left: 50%;
      bottom: -10%;
      transform: translateX(-50%);
    }
  }

  h2 {
    font-weight: 300;
    font-family: serif;
    font-size: 1.7em;
    width: 450px;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .bordered {
    display: flex;
    margin-top: 2em;

    &-left {
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      display: flex;
      padding: 0.7em 1em;
      justify-content: center;
      align-items: center;
      width: 250px;

      h5 {
        letter-spacing: 4px;
        margin: 0 1em;
      }
    }

    &-right {
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;

      h5 {
        letter-spacing: 4px;
      }
    }
  }

  .hero-play-btn {
    cursor: pointer;
    width: 25px;
  }
}

.chevron-box {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 1em 1em 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  cursor: pointer;

  .chevron {
    animation-name: chevron-animation;
    animation-iteration-count: infinite;
    animation-duration: 3000ms;
    position: relative;
  }
}

@keyframes chevron-animation {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 0px;
  }
  100% {
    bottom: 10px;
  }
}

// INTRODUCTION
.introduction {
  background-color: #2c305e;
  padding: 7em 0;
  text-align: center;
  color: #707d8f;

  h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 3.5em;
    width: 600px;
    position: relative;
    line-height: 1;
    margin: 0 auto 1em;

    &::before {
      content: "Introduction";
      position: absolute;
      display: block;
      top: -25%;
      left: 50%;
      transform: translateX(-50%);
      color: #707d8f;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 0.2em;
      letter-spacing: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #f0326b;
      width: 100px;
      height: 5px;
      bottom: -25%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 5px;
    }
  }

  .p {
    display: block;
    margin: 0 auto 1em;
    font-size: 1.25em;
    width: 800px;
    letter-spacing: 1px;
    font-family: "Muli", sans-serif;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    font-family: "Muli", sans-serif;

    &-left {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 45%;
      padding: 0.5em 2em 0.5em 0;

      .signature {
        width: 250px;
        margin-top: 1em;
      }
    }

    .bp {
      font-size: 1.2em;
      letter-spacing: 1px;
      margin-bottom: 1em;
      line-height: 1.75;

      &:first-of-type::first-letter {
        color: #ce325f;
        font-size: 3em;
        float: left;
        margin-top: 13px;
      }

      &:nth-of-type(3) {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-style: italic;
        border-left: 5px solid #ce325f;
        padding: 0.5em 0 0.5em 1.5em;
        font-size: 1.3em;
      }
    }

    &-right {
      width: 55%;
    }

    .grid {
      display: grid;
      grid-template-areas:
        "int1 int3"
        "int1 int3"
        "int1 int4"
        "int2 int4"
        "int2 int4";
      grid-gap: 1em;
      justify-items: center;
      margin: 0 auto;
      max-width: 600px;

      div {
        border: 10px solid #fff;
        width: 100%;
        background-size: cover;
        background-position: center;
      }
    }

    .introduction-1 {
      min-height: 300px;
      grid-area: int1;
      background-image: url("img/introduction-1.jpg");
    }

    .introduction-2 {
      min-height: 200px;
      grid-area: int2;
      background-image: url("img/introduction-2.jpg");
    }

    .introduction-3 {
      min-height: 200px;
      max-width: 270px;
      grid-area: int3;
      background-image: url("img/introduction-3.jpg");
    }

    .introduction-4 {
      min-height: 300px;
      max-width: 270px;
      grid-area: int4;
      background-image: url("img/introduction-4.jpg");
    }
  }
}

// ABOUT
.about {
  background-color: #292d53;
  padding: 7em 0;

  &-content {
    display: flex;
    align-items: center;
  }

  .left {
    width: 50%;
    display: flex;
    flex-direction: column;

    h1 {
      color: #fff;
      font-family: "Raleway", sans-serif;
      font-weight: 900;
      font-size: 3.5em;
      width: 240px;
      position: relative;
      line-height: 1;
      margin-bottom: 1em;

      &::before {
        content: "About";
        position: absolute;
        display: block;
        top: -25%;
        left: 14%;
        transform: translateX(-50%);
        color: #707d8f;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-size: 0.2em;
        letter-spacing: 5px;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        background-color: #f0326b;
        width: 100px;
        height: 5px;
        bottom: -25%;
        left: 22%;
        transform: translateX(-50%);
        border-radius: 5px;
      }
    }

    p {
      display: block;
      margin-bottom: 1em;
      font-size: 1.25em;
      width: 80%;
      letter-spacing: 1px;
      font-family: "Muli", sans-serif;
      color: #707d8f;
    }
  }

  .visit-venue-btn {
    color: #fff;
    background-color: #ce325f;
    align-self: flex-start;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.8em;
    border-radius: 50px;
    padding: 1.5em 3em;
    cursor: pointer;
    transition: background-color 250ms;

    &:hover {
      background-color: darken(#ce325f, 5%);
    }
  }

  .right {
    width: 50%;
  }

  .about-img-box {
    width: 500px;
    height: 300px;
    position: relative;
    border-radius: 5px;
    margin: 0 auto;

    .bottom,
    .top {
      width: 500px;
      height: 300px;
      border-radius: 5px;
      position: absolute;
      left: 0;
      transition: opacity 750ms;
    }

    & img.bottom:hover {
      opacity: 0;
    }
  }

  .about-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    &::before {
      content: "";
      background: linear-gradient(to top, #fd326f, #f9633e);
      width: 80px;
      height: 80px;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
  }
}

// ICONS
.icons {
  background-color: #262a4f;

  .icons-list {
    list-style-type: none;
    display: flex;
    height: 100%;
  }

  .icon {
    width: auto;
    height: 50px;
    margin-right: 20px;
  }

  .icons-item {
    display: flex;
    padding: 4em 4em 3.5em 0;
    max-width: 33.33%;
    margin: 0 auto;

    &:first-of-type {
      border-right: 1px solid #1f2344;
    }

    &:nth-of-type(2) {
      border-right: 1px solid #1f2344;
      border-left: 1px solid #2b305c;
      padding-left: 4em;
    }

    &:last-of-type {
      border-left: 1px solid #2b305c;
      padding-left: 4em;
    }
  }

  .text {
    display: flex;
    flex-direction: column;

    h4 {
      color: #fff;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-weight: 100;
      letter-spacing: 1px;
    }

    p {
      color: #707d8f;
      font-family: "Muli", sans-serif;
      font-size: 1.1em;
    }
  }
}

// SPEAKERS
.speakers {
  background-color: #2a2e55;

  .speaker {
    display: flex;
    flex-direction: row;
    width: 100%;

    &-img-box {
      width: 50%;
      position: relative;
      overflow: hidden;

      .icons {
        display: flex;
        position: absolute;
        top: 60%;
        opacity: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        transition: top 750ms, opacity 750ms, z-index 1000ms, padding 750ms;
        z-index: -1;

        &.iconsA {
          opacity: 1;
          z-index: 1;
          top: 50%;
          padding: 2em 0;
        }

        .icon {
          background-color: rgba(112, 125, 143, 0.8);
          width: 80px;
          height: 80px;
          position: relative;
          border-radius: 50%;
          margin: 0 1em;
          cursor: pointer;
          top: 45%;
          transition: transform 250ms;

          &:hover {
            transform: scale(1.1);
          }
        }

        img {
          width: 40px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &::before {
        position: absolute;
        content: "";
        background-color: #272b52;
        width: 200px;
        height: 80px;
        top: 0;
        right: -90px;
        transform: rotate(45deg);
        cursor: pointer;
        z-index: 1;
      }

      .img1 {
        position: absolute;
        background-image: url("img/speaker-1--red.jpg");
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        opacity: 1;
        transition: opacity 500ms;

        &:hover {
          opacity: 0;
        }
      }

      .img2 {
        background-image: url("img/speaker-1.jpg");
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
      }

      .x {
        position: absolute;
        font-weight: bold;
        color: #fff;
        font-size: 3em;
        right: 20px;
        cursor: pointer;
        transition: transform 250ms;
        z-index: 1;

        &.xA {
          transform: rotate(135deg);
        }
      }
    }

    &-text {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 9em 0 9em 6em;

      h1 {
        color: #fff;
        font-family: "Raleway", sans-serif;
        font-weight: 900;
        font-size: 3.5em;
        position: relative;
        line-height: 1;
        margin: 0.5em 0;

        &::before {
          content: "Speaker";
          position: absolute;
          display: block;
          top: -50%;
          left: 0;
          color: #707d8f;
          font-family: "Montserrat", sans-serif;
          text-transform: uppercase;
          font-size: 0.2em;
          letter-spacing: 5px;
        }

        &::after {
          content: "";
          position: absolute;
          display: block;
          background-color: #f0326b;
          width: 100px;
          height: 5px;
          bottom: -50%;
          left: 0;
          border-radius: 5px;
        }
      }

      p:first-of-type {
        display: block;
        color: #707d8f;
        margin: 1em 0;
        font-size: 1.25em;
        letter-spacing: 1px;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-style: italic;
      }

      p:last-of-type {
        display: block;
        color: #707d8f;
        font-family: "Muli", sans-serif;
        letter-spacing: 0.5px;
        width: 400px;
        font-size: 1.2em;
        margin-bottom: 2em;
      }

      .learn-more-btn {
        color: #fff;
        background-color: #ce325f;
        align-self: flex-start;
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 0.8em;
        border-radius: 50px;
        padding: 1.5em 3em;
        cursor: pointer;
        transition: background-color 250ms;

        &:hover {
          background-color: darken(#ce325f, 5%);
        }
      }
    }
  }

  .speaker2 {
    flex-direction: row-reverse;

    .speaker-img-box {
      .img1 {
        background-image: url("img/speaker-2--red.jpg");
        opacity: 1;
        transition: opacity 500ms;

        &:hover {
          opacity: 0;
        }
      }

      .img2 {
        background-image: url("img/speaker-2.jpg");
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
      }
    }

    .speaker-text {
      margin-left: 0;
      align-items: flex-end;
      padding: 9em 6em 9em 0;
      text-align: right;

      h1::before {
        right: 0;
      }

      h1::after {
        content: "";
        position: absolute;
        display: block;
        background-color: #f0326b;
        width: 100px;
        height: 5px;
        bottom: -50%;
        left: 65%;
        border-radius: 5px;
      }

      .learn-more-btn {
        align-self: flex-end;
      }
    }
  }

  .speaker3 {
    .speaker-img-box {
      .img1 {
        background-image: url("img/speaker-3--red.jpg");
        opacity: 1;
        transition: opacity 500ms;

        &:hover {
          opacity: 0;
        }
      }

      .img2 {
        background-image: url("img/speaker-3.jpg");
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
      }
    }
  }

  .speaker4 {
    flex-direction: row-reverse;

    .speaker-img-box {
      .img1 {
        background-image: url("img/speaker-4--red.jpg");
        opacity: 1;
        transition: opacity 500ms;

        &:hover {
          opacity: 0;
        }
      }

      .img2 {
        background-image: url("img/speaker-4.jpg");
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
      }
    }

    .speaker-text {
      margin-left: 0;
      align-items: flex-end;
      padding: 9em 6em 9em 0;
      text-align: right;

      h1::before {
        right: 0;
      }

      h1::after {
        content: "";
        position: absolute;
        display: block;
        background-color: #f0326b;
        width: 100px;
        height: 5px;
        bottom: -50%;
        left: 60%;
        border-radius: 5px;
      }

      .learn-more-btn {
        align-self: flex-end;
      }
    }
  }

  .speaker5 {
    .speaker-img-box {
      .img1 {
        background-image: url("img/speaker-5--red.jpg");
        opacity: 1;
        transition: opacity 500ms;

        &:hover {
          opacity: 0;
        }
      }

      .img2 {
        background-image: url("img/speaker-5.jpg");
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
      }
    }
  }

  .speaker6 {
    flex-direction: row-reverse;

    .speaker-img-box {
      .img1 {
        background-image: url("img/speaker-6--red.jpg");
        opacity: 1;
        transition: opacity 500ms;

        &:hover {
          opacity: 0;
        }
      }

      .img2 {
        background-image: url("img/speaker-6.jpg");
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
      }
    }

    .speaker-text {
      margin-left: 0;
      align-items: flex-end;
      padding: 9em 6em 9em 0;
      text-align: right;

      h1::before {
        right: 0;
      }

      h1::after {
        content: "";
        position: absolute;
        display: block;
        background-color: #f0326b;
        width: 100px;
        height: 5px;
        bottom: -50%;
        left: 60%;
        border-radius: 5px;
      }

      .learn-more-btn {
        align-self: flex-end;
      }
    }
  }
}

// SCHEDULE
.schedule {
  background-color: #2c305e;
  padding: 6em 0;
  text-align: center;

  .container {
    display: grid;
    grid-template-areas:
      "h1"
      "p"
      "btns";
    justify-items: center;
  }

  h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 3.5em;
    position: relative;
    line-height: 1;
    margin: 1em 0;
    grid-area: h1;

    &::before {
      content: "Schedule";
      position: absolute;
      display: block;
      top: -50%;
      left: 50%;
      transform: translateX(-50%);
      color: #707d8f;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 0.2em;
      letter-spacing: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #f0326b;
      width: 100px;
      height: 5px;
      bottom: -50%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 5px;
    }
  }

  .p {
    color: #707d8f;
    font-family: "Muli", sans-serif;
    margin-bottom: 2em;
    letter-spacing: 1px;
    font-size: 1.2em;
    width: 70%;
    align-items: center;
    grid-area: p;
  }

  .day-buttons {
    width: 100%;
    border-bottom: 3px solid #272b58;
    margin-top: 5em;
    margin-bottom: 1em;
    grid-area: btns;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0 5%;
  }

  .day-btn {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em 3em;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #272b58;
    background-color: #2c305e;
    position: relative;
    top: 3px;
    width: max-content;
    margin: 0 1em;

    &.active {
      border-top: 3px solid #272b58;
      border-bottom: 3px solid #2c305e;
      border-left: 3px solid #272b58;
      border-right: 3px solid #272b58;
    }
  }

  .schedules {
    list-style-type: none;
    width: 80%;
    opacity: 1;
    transition: opacity 250ms;

    &.toggleOpacity {
      opacity: 0;
    }
  }

  .sched {
    display: flex;
    background-color: #2a2e5a;
    margin: 1em 0;
    padding: 1.5em;
    color: #707d8f;
    font-family: "Montserrat", sans-serif;
    text-align: left;
  }

  .time {
    min-width: 180px;
    font-size: 0.9em;
  }

  .plan {
    font-family: "Muli", sans-serif;
    letter-spacing: 0.5px;
  }

  .todo {
    margin-bottom: 10px;
  }

  .download-brochure-btn {
    color: #fff;
    background-color: #ce325f;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.8em;
    border-radius: 5px;
    padding: 1.5em 3em;
    cursor: pointer;
    transition: background-color 250ms;
    margin-top: 5em;

    &:hover {
      background-color: darken(#ce325f, 5%);
    }
  }
}

// FEATURES
.features {
  background-color: #2c305e;
  padding: 5em 0;

  h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 3.5em;
    position: relative;
    line-height: 1;
    margin: 1em;
    text-align: center;

    &::before {
      content: "Features";
      position: absolute;
      display: block;
      top: -50%;
      left: 50%;
      transform: translateX(-50%);
      color: #707d8f;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 0.2em;
      letter-spacing: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #f0326b;
      width: 100px;
      height: 5px;
      bottom: -50%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 5px;
    }
  }

  p {
    color: #707d8f;
    font-family: "Muli", sans-serif;
    letter-spacing: 1px;
    margin: auto;
    font-size: 1.2em;
    width: 70%;
    text-align: center;
  }

  .icon-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 310px);
    grid-template-rows: repeat(3, 250px);
    margin: 5em 0;
    padding: 0 10%;
    justify-content: center;
  }

  .item {
    max-width: 310px;
    max-height: 250px;
    display: flex;
    justify-self: center;
    padding: 3em 2em;

    &:first-of-type {
      border-bottom: 1px solid #242753;
      border-right: 1px solid #242753;
    }

    &:nth-of-type(2) {
      border-left: 1px solid #2f3470;
      border-bottom: 1px solid #242753;
      border-right: 1px solid #242753;
    }

    &:nth-of-type(3) {
      border-left: 1px solid #2f3470;
      border-bottom: 1px solid #242753;
    }

    &:nth-of-type(4) {
      border-top: 1px solid #2f3470;
      border-bottom: 1px solid #242753;
      border-right: 1px solid #242753;
    }

    &:nth-of-type(5) {
      border-top: 1px solid #2f3470;
      border-left: 1px solid #2f3470;
      border-bottom: 1px solid #242753;
      border-right: 1px solid #242753;
    }

    &:nth-of-type(6) {
      border-top: 1px solid #2f3470;
      border-left: 1px solid #2f3470;
      border-bottom: 1px solid #242753;
    }

    &:nth-of-type(7) {
      border-top: 1px solid #2f3470;
      border-right: 1px solid #242753;
    }

    &:nth-of-type(8) {
      border-top: 1px solid #2f3470;
      border-left: 1px solid #2f3470;
      border-right: 1px solid #242753;
    }

    &:nth-of-type(9) {
      border-top: 1px solid #2f3470;
      border-left: 1px solid #2f3470;
    }

    .icon {
      max-width: 50px;
      min-width: 50px;
      align-self: flex-start;
      margin-right: 1.5em;
      margin-top: 5px;
    }

    .text {
      display: flex;
      flex-direction: column;

      h3 {
        color: #fff;
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 0.5px;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 10px;
      }

      p {
        font-family: "Muli", sans-serif;
        color: #707d8f;
        letter-spacing: 0.5px;
        font-size: 1em;
        text-align: left;
        margin: 0;
        width: 100%;
      }
    }
  }
}

// TICKETS
.tickets {
  background-color: #292d57;
  padding: 5em 0;
  text-align: center;

  .h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 3.5em;
    position: relative;
    line-height: 1;
    margin: 1em;
    text-align: center;

    &::before {
      content: "Tickets";
      position: absolute;
      display: block;
      top: -50%;
      left: 50%;
      transform: translateX(-50%);
      color: #707d8f;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 0.2em;
      letter-spacing: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #f0326b;
      width: 100px;
      height: 5px;
      bottom: -50%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 5px;
    }
  }

  .p {
    color: #707d8f;
    font-family: "Muli", sans-serif;
    letter-spacing: 1px;
    margin: auto;
    font-size: 1.2em;
    width: 70%;
    text-align: center;
  }

  .cards {
    margin: 5em 0;
    display: flex;
    justify-content: center;
  }

  .card {
    background-color: #fff;
    border-radius: 5px;
    max-width: 320px;
    min-width: 320px;
    min-height: 480px;
    margin: 0 1em;

    .top {
      background-image: url("img/tickets.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 40%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      position: relative;
    }

    .price {
      color: #fff;
      font-size: 5em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Montserrat", sans-serif;

      &::before {
        content: "$";
        position: absolute;
        font-weight: 100;
        font-size: 0.5em;
        top: 15%;
        left: -25%;
      }

      &::after {
        position: absolute;
        font-style: italic;
        font-size: 0.25em;
        font-weight: 100;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        font-family: Georgia, "Times New Roman", Times, serif;
      }

      .price1::after {
        content: "Bronze";
      }

      .price2::after {
        content: "Gold";
      }

      .price3::after {
        content: "Diamond";
      }
    }

    .bottom {
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;

      .row {
        height: 20%;
        display: flex;
        border-bottom: 1px dotted #d5dae0;
      }

      p {
        align-self: center;
        padding: 0 3em;
        font-family: "Muli", sans-serif;
        color: #707d8f;
        letter-spacing: 0.5px;
        position: relative;

        &::before {
          position: absolute;
          content: "";
          background-image: url("img/checkmark.png");
          background-size: cover;
          background-position: center;
          top: 25%;
          left: 3%;
          transform: translateY(-50%);
          display: flex;
          width: 15px;
          height: 15px;
        }
      }

      p.ix::before {
        position: absolute;
        content: "";
        background-image: url("img/closemark.png");
        background-size: cover;
        background-position: center;
        top: 25%;
        left: 3%;
        display: flex;
        width: 15px;
      }
    }
  }

  .register-today-btn {
    color: #fff;
    background-color: #ce325f;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.8em;
    border-radius: 5px;
    padding: 1.5em 3em;
    cursor: pointer;
    transition: background-color 250ms;

    &:hover {
      background-color: darken(#ce325f, 5%);
    }
  }
}

// GALLERY
.gallery {
  background-color: #292d53;
  padding: 5em 5%;

  h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 3.5em;
    position: relative;
    line-height: 1;
    margin: 1em;
    text-align: center;

    &::before {
      content: "Gallery";
      position: absolute;
      display: block;
      top: -50%;
      left: 50%;
      transform: translateX(-50%);
      color: #707d8f;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 0.2em;
      letter-spacing: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #f0326b;
      width: 100px;
      height: 5px;
      bottom: -50%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 5px;
    }
  }

  p {
    color: #707d8f;
    font-family: "Muli", sans-serif;
    letter-spacing: 1px;
    margin: auto;
    font-size: 1.2em;
    width: 70%;
    text-align: center;
  }

  .box {
    margin-top: 5em;
    display: grid;
    grid-template-areas:
      "g1 g1 g1 g1 g2 g2"
      "g3 g3 g3 g4 g4 g4"
      "g3 g3 g3 g5 g5 g5"
      "g6 g6 g7 g7 g8 g8";
    grid-gap: 1.5em;
    justify-content: center;
    grid-template-columns: repeat(6, 16.66%);
    grid-template-rows: repeat(4, 310px);

    .gal {
      background-position: center;
      background-size: cover;
      border: 10px solid #fff;
      cursor: pointer;
    }

    .gallery1 {
      background-image: url("img/gallery-1.jpeg");
      grid-area: g1;
    }

    .gallery2 {
      background-image: url("img/gallery-2.jpeg");
      grid-area: g2;
    }

    .gallery3 {
      background-image: url("img/gallery-3.jpeg");
      grid-area: g3;
    }

    .gallery4 {
      background-image: url("img/gallery-4.jpeg");
      grid-area: g4;
    }

    .gallery5 {
      background-image: url("img/gallery-5.jpeg");
      grid-area: g5;
    }

    .gallery6 {
      background-image: url("img/gallery-6.jpeg");
      grid-area: g6;
    }

    .gallery7 {
      background-image: url("img/gallery-7.jpeg");
      grid-area: g7;
    }

    .gallery8 {
      background-image: url("img/gallery-8.jpeg");
      grid-area: g8;
    }
  }
}

// REGISTER
.register {
  background-color: #2c305e;
  height: 900px;
  display: flex;

  .left {
    background-image: url("img/hero-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 50vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20%;

    h1 {
      color: #fff;
      font-family: "Raleway", sans-serif;
      font-weight: 900;
      font-size: 3.75em;
      position: relative;
      max-width: 250px;
      line-height: 1;
      margin: 3em 1em 1em 0;
      width: 80%;
      text-transform: uppercase;
      text-align: left;

      &::before {
        content: "Register";
        position: absolute;
        display: block;
        top: -20%;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-size: 0.2em;
        letter-spacing: 5px;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        background-color: #fff;
        width: 100px;
        height: 5px;
        bottom: -20%;
        border-radius: 5px;
      }
    }

    p {
      color: #fff;
      font-family: "Muli", sans-serif;
      letter-spacing: 1px;
      width: 90%;
      text-align: left;
    }
  }

  .right {
    padding: 10em 5%;
    width: 50vw;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: space-between;

    p {
      text-transform: uppercase;
      font-size: 0.8em;
      color: #707d8f;
      font-weight: bold;
      letter-spacing: 3px;
    }

    .title {
      width: 100%;
      padding: 0.8em;
      color: #aeaeae;
    }

    .name {
      padding: 0.8em;
      border: none;
      border-bottom: 1px solid #707d8f;
      background-color: transparent;
      color: #c2cbd8;
      width: 100%;
      font-size: 1.1em;

      &:hover {
        border-bottom-color: #ce325f;
      }
    }

    .email {
      padding: 0.8em;
      border: none;
      border-bottom: 1px solid #707d8f;
      background-color: transparent;
      color: #c2cbd8;
      width: 100%;
      font-size: 1.1em;

      &:hover {
        border-bottom-color: #ce325f;
      }
    }

    .address {
      padding: 0.8em;
      border: none;
      border-bottom: 1px solid #707d8f;
      background-color: transparent;
      color: #c2cbd8;
      width: 100%;
      font-size: 1.1em;

      &:hover {
        border-bottom-color: #ce325f;
      }
    }

    .ticket {
      width: 100%;
      padding: 0.8em;
      color: #aeaeae;
    }

    .submit-btn {
      color: #fff;
      background-color: #ce325f;
      text-decoration: none;
      width: 100%;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 0.8em;
      border-radius: 5px;
      padding: 1.5em 3em;
      cursor: pointer;
      transition: background-color 250ms;
      text-align: center;

      &:hover {
        background-color: darken(#ce325f, 5%);
      }
    }
  }
}

// SPONSORS
.sponsors {
  padding: 8em 0;
  background-color: #292d53;

  &-logo {
    display: flex;
    justify-content: space-around;
    position: relative;

    &::before {
      position: absolute;
      content: "Sponsors";
      text-transform: uppercase;
      color: #707d8f;
      letter-spacing: 3px;
      font-size: 0.8em;
      top: -80%;
    }
  }

  .logo {
    width: 150px;
    cursor: pointer;
    transition: transform 500ms;
    align-self: center;

    &:hover {
      transform: scale(1.2);
    }
  }
}

// FOOTER
.footer {
  background-color: #25284a;
  color: #707d8f;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 3px;
  padding: 2.5em 0;

  .container {
    display: flex;
    justify-content: center;

    h3 {
      padding: 0 2em;
      position: relative;

      &:first-of-type::after,
      &:nth-of-type(2)::after {
        position: absolute;
        content: "";
        background-color: #707d8f;
        width: 2px;
        height: 70%;
        left: 98%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    span {
      color: #ce325f;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// MEDIA QUERIES

// MAX-WIDTH 1100PX
@media screen and (max-width: 1100px) {
  .hero {
    position: relative;
    height: 90vh;

    .nav .nav-items {
      width: 100%;
      justify-content: space-between;
      a {
        display: none;
      }

      .hamburger {
        display: block;
        padding-right: 2em;
        cursor: pointer;
        width: 50px;
      }
    }

    .register-btn {
      display: none;
    }

    .toggled-nav {
      height: 0px;
      position: absolute;
      width: 100%;
      z-index: 998;
      transition: height 500ms, opacity 750ms, top 500ms;
      opacity: 1;

      &.show {
        height: 100px;
        opacity: 1;
        z-index: 999;
        top: 80px;
      }

      a {
        margin: 0;
        background-color: #2d305e;
        justify-content: center;
      }

      .register-btn-2 {
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-image: linear-gradient(174deg, #f9643d, #fe2a77);
        // padding: 30px 0;
      }
    }

    .centered-content {
      h1 {
        font-size: 5em;
      }
    }

    .chevron-box {
      bottom: 0;
    }
  }
}

// MAX-WIDTH 600PX
@media screen and (max-width: 600px) {
  .hero {
    height: 75vh;

    .centered-content {
      h1 {
        font-size: 2.4em;
        max-width: 100vw;
        margin-left: -20px;

        &::after {
          top: 110%;
        }
      }

      h2 {
        font-size: 1.5em;
        padding: 0 15%;
      }

      .hero-play-btn {
        min-width: 25px;
      }
    }

    .bordered {
      &-left {
        width: 40vw;
      }

      &-right {
        width: 40vw;
      }
    }
  }
}